.navbar-brand {
    font-size: 40px !important;
    color: rgb(99, 99, 99) !important;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    min-height: 80px;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 80%;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
    color: #92a1d1;
    display: inline-block;
    width: fit-content;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.navbar-toggler {
    margin-left: auto;
}

.btn {
    background: #92a1d1;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    border: none;
    transition: all .5s ease-in-out !important;
    margin-right: 20px;
}

.btn:hover {
    background: white !important;
    color: black;
}

.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    background: #92a1d1;
    height: 2px;
    opacity: 0;
    transition: all .3 ease-in-out;
    transition: 0.2s;
}

.nav-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #92a1d1;
    height: 2px;
    opacity: 1;
}

.nav-link-btn {
    color: #92a1d1;
    display: inline-block;
}

.icons {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    color: #92a1d1;
    transition: all 0.5s ease;
}

.icons a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.icons button {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}

.dropdown-content {

    display: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(102, 102, 102);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #d36c6c;
    color: #ffffff;
}

#dropbuttons {
    margin-left: 50px;
    font-size: 50px;
    color: #b8b8b8;
}

#dropbuttons:hover .dropdown-content {
    display: block;
}

@media (max-width: 1440px) {
    .container {
        width: 98%;
        padding: 0;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        width: fit-content;

        transition: all 0.5s ease;
    }
}

@media (max-width: 990px) {
    .navbar-collapse {
        margin-left: 0px;
    }

    .icons {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        transition: all 0.5s ease;
    }
}

.dropdown-menu {
    border: none;
    background: none;
    width: fit-content !important;
    margin-left: 40px !important;
}

.container {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#field{
    justify-content: space-evenly;
}
.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px auto;
}

.container .box {
    /* width: calc(33% - 10px); */
    width: 400px;
    height: 500px;
    background: #92a1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 0 10px 20px 10px;
    border-radius: 15px;
}

.box .quote i {
    margin-top: 10px;
    font-size: 45px;
    color: #17c0eb;
}
.user_img{
    background-size: contain;
    border-radius: 50%;
}
.container .box .image {
    
    margin: 10px 0;
    height: 200px;
    width: 200px;
    
    padding: 3px;
    border-radius: 50%;
}

.box .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.box p {
    color: #ffffff;
    text-align: justify;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}
.name{
    display: flex;
    
}
.box .name_job {
    margin: 10px 6px 3px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.top{
    display: flex;
    margin: 30px 0;
    flex-direction: column;
}
.imgsearch{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 90px;
    background: #fff;
    background-color: #92a1d1;
    /* border: solid 2px #92a1d1; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.lupa{
    
    width: 30px; 
    
    height: 30px;;
}
.input{
    outline: none;
    margin-left: 10px;
    margin-top: 6px;
    background: none;
    border: none;
    
    width: 700px;
    height: 30px;
    color: #FFFFFF;
    font-size: 20px;
}
.input::placeholder{
    color: #fff;
    
}
.line{
    margin-bottom: 20px;
    display: block;
    width: 92%;
    height: 4px;
    margin-right: auto;
    margin-left: auto;
    
}
.l_inp{
    margin: auto 0;
    display: flex;
    padding: 0 10px;
    justify-content: center;
}
.rating i {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 5px;
}

.btns {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    padding: 0;
    border-radius: 5px;
}

.btns .button {
    /* background: #ffffff; */
    background: #92a1d1;
    width: 100%;
    padding: 9px 0px;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    transition: all 0.3s linear;
    text-decoration: none;
    text-align: center;
}

.btns .button:hover {
    background: #ffffff;
    color: #92a1d1;
}
@media (max-width:1400px) {
    #field{
        justify-content: space-evenly;
    }
}
@media (max-width:1045px) {
    .container .box {
        
    }
}

@media (max-width:710px) {
    .container .box {
        width: 100%;
    }
}

.addbtn {
    margin: 10px auto;
    width: 150px;
    padding: 0 10px;
    border: solid 2px #92a1d1;
    color: #92a1d1;
    font-weight: 600;
    border-radius: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
}

.addbtn:hover {
    color: #fff;
    background-color: #92a1d1;
    transition: 0.5s;
}

.popUp {
    width: 400px;
    background: #fff;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popstud {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    
}

.popUp h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 10px;
}

.popUp p {
    margin-top: 10px;
    line-height: 170%;
    font-size: 16px;
}




.popUp .submit {
    width: 70%;
    padding: 10px 0px;
    margin-top: 5px;
    background: #92a1d1;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.popUp button:hover {
    transform: translateY(+2px)
}
.b-popup-open{
    visibility: hidden;
}
.b-popup{
   
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    visibility: visible;
}
.popback{
    width:100%;
    height: 100%;
}
.addition {
    height: 100px;
    resize: none;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.photo {
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #92a1d1;
}

.user {
    margin: auto 0;
    width: 73%;
    height: 72%;
}

input[type="file"] {
    display: none;
}
.service_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.service_item span{
    font-weight: bold;
}
#services{
    max-height: 150px;
    height: 100%;
    overflow-y: auto;
}
.service_item button{
    color: white;
    border-radius: 50%;
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #92a1d1;

}
.btn_del{
    color: black;
    border-radius: 50%;
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    height: fit-content;
    margin: auto 0;
}
.inpDiv{
    display: flex;
    
}
.input-field-l{
    width: 100%;
    padding: 10px 0;
    margin: 5px 10px 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.input-field-r{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 5px 10px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

/* .items {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
    color: gray;
}
.dropdown *{
    box-sizing: border-box;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #92a1d1;
    transition: 0.2s;
}

.caret-rotate{
    transform: rotate(180deg);
}
.itemMenu{
    list-style: none;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.itemMenu>li{
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #92a1d1;
    padding: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.itemMenu>li:hover{
    background: #2a2d35;
}

.itemMenu>a{
    color: white;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #92a1d1;
    padding: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.itemMenu>a:hover{
    background: lightblue;
    color: white;
}

.active{
    background: #92a1d1;
}

.itemMenu-open{
    display: block;
    opacity: 1;
}

a {
    text-decoration: none;
    padding: 8px 16px;
  }
  
  a:hover {
    color: gray;
  }
   */